{
  "version": "0.2.0",
  "configurations": [
    {
      "type": "bun",
      "request": "launch",
      "name": "Debug Bun",
      "program": "tools/notion-content/src/index.ts",
      "env": {
        "NOTION_API_KEY": "",
        "NOTION_CONTENTS_DB_ID": "",
        "NOTION_POSTS_DB_ID": "",
        "NOTION_TALKS_DB_ID": "",
        "IMAGE_WORKER_BASE_URL": "",
        "IMAGE_WORKER_AUTH_TOKEN": ""
      }
    }
  ]
}